<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <div class="col8 m-auto pt-2 pb-2 text-center">
        <h1>Cadastro</h1>
    </div>

    <div class="col8 m-auto pt-4 pb-4 text-center">
        <a href="http://localhost:63342/Python/app/templates/index.html?_ijt=q4ec60oec4enrfkd8ccomp7sfs" Class=" btn btn-dark">Voltar</a>
    </div>

    <div class="col8 m-auto pt-4 pb-4 text-center">
        <div id="result"></div>

        <form name="form" id=form" action="{%if bd%}/update/{{bd.id}}/{%else%}/create/{%endif%}" method="post">
            {% crfs_token %}
            <div class="form-group mt-4">Nome{{form.Nome}}</div>
            <div class="form-group mt-4">CPF{{form.CPF}}</div>
            <div class="form-group mt-4">Cirurgia{{form.Cirurgia}}</div>

            <input type="submit" class="btn btn-dark" value="Salvar" >
        </form>
    </div>

    #chamando o java script#

    {% load static %}
    <script src="{% static, javascript.js%}"></script>
</body>
</html>